<%= form_for @conversion, html: { "data-controller" => "currency-picker" } do |f| %>
  <%= render partial: "add_ons/ynab_account_picker",
    locals: {
      f: f,
      prompt: "Pick a YNAB account to convert",
      add_on: @conversion
    }
  %>

  <div class="form-row">
    <div class="col">
      <div class="form-group">
        <%= f.label :from_currency, "Original account currency" %>
        <%= f.select :from_currency, currencies_iso_code_and_name, {}, { class: "form-control" } %>
      </div>
    </div>
    <div class="col">
      <div class="form-group">
        <%= f.label :to_currency, "YNAB budget currency" %>
        <%= f.text_field :to_currency, class: "form-control", readonly: true, "data-target" => "currency-picker.toCurrency" %>
      </div>
    </div>
  </div>

  <%= render partial: "add_ons/date_picker", locals: { f: f, add_on: @conversion } %>

  <%= render partial: "add_ons/auto_sync_checkbox", locals: { f: f } %>

  <div class="card mb-3 bg-light">
    <div class="card-header">
      <%= icon("fas", "exclamation-circle") %> Advanced features
    </div>

    <div class="card-body pb-0 small">
      <div class="form-group">
        <span class="form-check-label">Conversion memo position</span>
        <div class="form-check">
          <%= f.radio_button :memo_position, :left, class: "form-check-input", checked: @conversion.left_memo_position? %>
          <%= f.label :memo_position_left, class: "form-check-label" do %>
            Left <span class="text-muted">Example: "US$-17.50 (FX rate: 0.85045) · My original memo"</span>
          <% end %>
        </div>
        <div class="form-check">
          <%= f.radio_button :memo_position, :right, class: "form-check-input", checked: @conversion.right_memo_position? %>
          <%= f.label :memo_position_right, class: "form-check-label" do %>
            Right <span class="text-muted">Example: "My original memo · US$-17.50 (FX rate: 0.85045)"</span>
          <% end %>
        </div>
        <span class="form-text text-muted">
          This annotation will be added to the original transaction memo.
          Never delete the <code><%= CurrencyConverter::CONVERSION_PREFIX %></code> part as this is how we know that the transaction was already converted.
        </span>
      </div>

      <div class="form-group">
        <%= f.label :offset, "Offset", class: "mb-0" %>
        <div class="form-inline">
          <span class="text-muted">Multiply original amount before conversion by </span>
          <%= f.text_field :offset,
          class: "form-control form-control-sm ml-2 mr-2",
            value: number_with_precision(@conversion.offset, strip_insignificant_zeros: true, significant: true),
            style: "width: 80px;" %>
        </div>
      </div>
    </div>
  </div>

  <% if action_name.in?(["new", "create"]) %>
    <%= f.submit "Save & Convert", class: "btn btn-primary" %>
    <small class="form-text text-muted">You will be able to confirm the transactions in the next page.</small>
  <% elsif action_name.in?(["edit", "update"]) %>
    <%= f.submit "Update", class: "btn btn-primary" %>
  <% end %>
<% end %>

<% content_for :head do %>

<% end %>
