<%= form_for @conversion, html: { class: "conversion-vue" } do |f| %>
  <div class="form-group">
    <%= f.label :ynab_account_id, "YNAB account" %>
    <%= f.select :ynab_account_id, nil, { prompt: "Pick a YNAB account to convert" }, { class: "form-control", "v-on:change" => "setYnabHiddenFields" } do %>
      <% @ynab_budgets.each do |budget| %>
        <%= content_tag :optgroup, label: budget.name do %>
          <% budget.accounts.each do |account| %>
            <%= content_tag :option,
                account.name,
                value: account.id,
                data: {
                  budget_id: budget.id,
                  account_name: account.name,
                  budget_name: budget.name,
                  to_currency: budget.currency_code },
                ref: account.id,
                selected: account.id == @conversion.ynab_account_id %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
    <%= f.hidden_field :ynab_budget_id %>
    <%= f.hidden_field :cached_ynab_account_name %>
    <%= f.hidden_field :cached_ynab_budget_name %>
  </div>

  <div class="form-row">
    <div class="col">
      <div class="form-group">
        <%= f.label :from_currency, "Original account currency" %>
        <%= f.select :from_currency, @currency_options, {}, { class: "form-control" } %>
      </div>
    </div>
    <div class="col">
      <div class="form-group">
        <%= f.label :to_currency, "YNAB budget currency" %>
        <%= f.text_field :to_currency, class: "form-control", readonly: true %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :start_date, "Pick a sync start date" %>
    <%= f.text_field :start_date,
      value: @conversion.start_date&.strftime("%d/%m/%Y") || Date.current.strftime("%d/%m/%Y"),
      class: "form-control datepicker" %>
  </div>

  <div class="form-group">
    <div class="form-check">
      <%= f.check_box :sync_automatically, class: "form-check-input" %>
      <%= f.label :sync_automatically, "Convert automatically once a day", class: "form-check-label" %>
    </div>
  </div>

  <div class="card mb-3 bg-light">
    <div class="card-header">
      <%= icon("fas", "exclamation-circle") %> Advanced features
    </div>

    <div class="card-body pb-0 small">
      <div class="form-group">
        <span class="form-check-label">Conversion memo position</span>
        <div class="form-check">
          <%= f.radio_button :memo_position, :left, class: "form-check-input", checked: @conversion.left_memo_position? %>
          <%= f.label :memo_position_left, class: "form-check-label" do %>
            Left <spam class="text-muted">Example: "US$-17.50 (FX rate: 0.85045) · My original memo"</span>
          <% end %>
        </div>
        <div class="form-check">
          <%= f.radio_button :memo_position, :right, class: "form-check-input", checked: @conversion.right_memo_position? %>
          <%= f.label :memo_position_right, class: "form-check-label" do %>
            Right <span class="text-muted">Example: "My original memo · US$-17.50 (FX rate: 0.85045)"</span>
          <% end %>
        </div>
        <span class="form-text text-muted">
          This annotation will be added to the original transaction memo.
          Never delete the <code><%= CurrencyConverter::CONVERSION_PREFIX %></code> part as this is how we know that the transaction was already converted.
        </span>
      </div>

      <div class="form-group">
        <%= f.label :offset, "Offset", class: "mb-0" %>
        <div class="form-inline">
          <span class="text-muted">Multiply original amount before conversion by </span>
          <%= f.text_field :offset,
          class: "form-control form-control-sm ml-2 mr-2",
            value: number_with_precision(@conversion.offset, strip_insignificant_zeros: true, significant: true),
            style: "width: 80px;" %>
        </div>
      </div>
    </div>
  </div>

  <% if action_name.in?(["new", "create"]) %>
    <%= f.submit "Save & Convert", class: "btn btn-primary" %>
    <small class="form-text text-muted">You will be able to confirm the transactions in the next page.</small>
  <% elsif action_name.in?(["edit", "update"]) %>
    <%= f.submit "Update", class: "btn btn-primary" %>
  <% end %>
<% end %>

<% content_for :head do %>
  <%= javascript_pack_tag 'conversion_form', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'date_picker', 'data-turbolinks-track': 'reload' %>
<% end %>
