<h1>Review your transactions</h1>

<div class="alert alert-primary" role="alert">
  <%= icon("fas", "lightbulb") %> Tip: Add the word <code>skip</code> anywhere in your YNAB transaction memo if you don't want to convert it, then reload this page. This is useful for transfers coming from an account that is already in the correct currency, or for manual adjustments.
</div>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Payee</th>
      <th scope="col">Memo</th>
      <th scope="col">Amount</th>
    </tr>
  </thead>
  <tbody>
    <% @sync.transactions.each do |transaction| %>
      <tr>
        <td><%= transaction.date %></td>
        <td><%= transaction.payee_name %></td>
        <td><%= transaction.memo %></td>
        <td><%= format_ynab_amount(transaction.amount, @sync.add_on.to_currency) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "Confirm conversion", conversion_sync_path(@sync.add_on, @sync, method: :put, class: "btn btn-primary") %>
