<h1>Review your transactions</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Payee</th>
      <th scope="col">Memo</th>
      <th scope="col">Amount</th>
    </tr>
  </thead>
  <tbody>
    <% @sync.transactions.each do |transaction| %>
      <tr>
        <td><%= transaction.date %></td>
        <td><%= transaction.payee_name %></td>
        <td><%= transaction.memo %></td>
        <td><%= format_ynab_amount(transaction.amount, @sync.conversion.to_currency) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "Confirm conversion", conversion_syncs_path(@sync.conversion, params: { sync_id: @sync.id }), method: :post, class: "btn btn-primary" %>
