<div class="row">
  <div class="col">
    <%= link_to(new_conversion_path, class: "btn btn-primary float-right") do %>
      <%= icon('fas', 'plus') %> New conversion setup
    <% end %>
    <h1 class="mb-5">Accounts to convert</h1>
  </div>
</div>

<div class="row">
  <% @add_ons.each do |conversion| %>
    <div class="col-lg-4 col-md-6">
      <div class="card mb-4">
        <div class="card-body">
          <div class="btn-group float-right">
            <%= link_to(edit_conversion_path(conversion), class: "btn btn-outline-secondary btn-sm") do %>
              <%= icon('fas', 'edit') %>
            <% end %>
            <%= link_to(conversion_path(conversion), method: :delete, class: "btn btn-outline-secondary btn-sm", data: { confirm: "Are you sure that you want to delete this conversion?" }) do %>
              <%= icon('fas', 'trash-alt') %>
            <% end %>
          </div>
          <h5 class="card-title"><%= conversion.cached_ynab_account_name %></h5>
          <h6 class="card-subtitle mb-2 text-muted"><%= conversion.cached_ynab_budget_name %></h6>
          <p class="card-text">
            <small>
              <%= from_to_currencies(conversion) %><br>
              <% if conversion.sync_automatically %>
                Automatic conversion enabled <%= icon('fas', 'check') %>
              <% else %>
                <span class="text-muted">Automatic conversion disabled <%= icon('fas', 'times') %></span>
              <% end %>
            </small>
          </p>
        </div>
        <div class="card-footer">
          <div class="row align-items-center">
            <div class="col">
              <% if conversion.last_synced_at %>
                <small class="text-muted">Last conversion <%= time_ago_in_words(conversion.last_synced_at) %> ago</small>
              <% else %>
                <small class="text-muted">Not converted yet</small>
              <% end %>
            </div>
            <div class="col-auto">
              <%= link_to("Convert now", conversion_syncs_path(conversion), method: :post, class: "btn btn-primary btn-sm float-right") %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class="row">
  <div class="col-lg-8 offset-lg-2">
    <div class="card border-secondary mb-3">
      <div class="card-body">
        <h4 class="card-title">Tips to get started</h4>
        <ol>
          <li>
            If you haven't already, log into your <%= link_to "YNAB budget",
            "https://youneedabudget.com", target: "_blank" %> and add your
            foreign currency account.
          </li>
          <li><%= link_to "Setup your account", new_conversion_path, target:
            "_blank" %> on our website.
          </li>
          <li>
            For the start date, pick the date of your oldest unconverted
            transaction.
          </li>
        </ol>
        <%= link_to(new_conversion_path, class: "btn btn-primary") do %>
          <%= icon('fas', 'plus') %> New conversion setup
        <% end %>
      </div>
      <div class="card-footer">
        <h5 class="card-title">Be careful with foreign exchange risk</h5>
        <p class="card-text">
          It's convinient to measure your budget in a single currency, but
          currency exchange rates are volatile. We suggest that you take the
          following measures to mitigate this risk (this is not financial advice):
        </p>
        <ul>
          <li>
            <b>Periodically adjust your YNAB account balance:</b> Once a month
            or so, you should manually convert the balance of your bank
            statement and update it in YNAB (right-click on your account >
            Today's Balance). This will create an adjustment transaction which
            corresponds to the exchange rate fluctuation on that month.
          </li>
          <li>
            <b>Create a YNAB category for exchange rate fluctuation:</b>
            Allocate money every month to potential exchange rate-related
            losses. You can use this category to cover the adjustment
            transactions mentioned above.
          </li>
          <li>
            <b>Choose the right YNAB currency:</b> You should choose the YNAB
            currency that takes the most part of your balance. If you have a
            foreign currency taking a big chunk of your net worth, then you
            might have a harder time managing exchange rate fluctuation.
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<% content_for :head do %>
  <%= javascript_pack_tag 'date_picker', 'data-turbolinks-track': 'reload' %>
<% end %>
