<div class="jumbotron">
  <h1 class="display-4">Multi-currency for YNAB</h1>
  <p class="lead">Manage budgets with multiple currencies by automatically converting your foreign account's transactions to your YNAB budget currency.</p>
  <a class="btn btn-primary btn-lg" href="<%= new_user_registration_path %>" role="button">Sign up</a>
  <a class="btn btn-outline-primary btn-lg" href="<%= new_user_session_path %>" role="button">Log in</a>
</div>

<div class="row">
  <div class="col">
    <h1 class="text-primary"><%= icon('far', 'money-bill-alt') %></h1>
    <h4>Currency conversion</h4>
    <p class="text-secondary">Convert your transaction amounts to any of the more than 150 supported currencies refreshed daily.</p>
  </div>
  <div class="col">
    <h1 class="text-primary"><%= icon('fas', 'sync-alt') %></h1>
    <h4>Automatic sync</h4>
    <p class="text-secondary">Let us sync your transactions automatically once a day, or sync them manually whenever you want.</p>
  </div>
  <div class="col">
    <h1 class="text-primary"><%= icon('fas', 'lock') %></h1>
    <h4>Secure connection</h4>
    <p class="text-secondary">Use your Ynab credentials to securely choose your account and approve the converted transactions.</p>
  </div>
</div>
