<!DOCTYPE html>
<html>
  <head>
    <title>Ynab Multi Currency</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= yield :head %>
  </head>

  <body>
    <nav class="navbar navbar-expand-md navbar-light bg-light mb-4">
      <div class="container">
        <%= link_to root_path, class: "navbar-brand text-primary" do %>
          <%= icon('fas', 'globe') %> YNAB Multi-Currency
        <% end %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <div class="navbar-nav">
            <%= link_to "My accounts", conversions_path, class: "nav-item nav-link" %>
            <% if user_signed_in? %>
              <%= link_to "Log out", destroy_user_session_path, class: "nav-item nav-link", method: :delete %>
            <% else %>
              <%= link_to "Log in", new_user_session_path, class: "nav-item nav-link" %>
              <%= link_to "Sign up", new_user_registration_path, class: "nav-item nav-link" %>
            <% end %>
          </div>
        </div>
      </div>
    </nav>

    <div class="container">
      <% if flash[:notice] %>
        <div class="alert alert-success" role="alert">
          <%= flash[:notice] %>
        </div>
      <% end %>

      <% if flash[:alert] %>
        <div class="alert alert-warning" role="alert">
          <%= flash[:alert] %>
        </div>
      <% end %>

    <%= yield %>
    </div>
  </body>
</html>
